[include shell_command.cfg]

[include timelapse.cfg]

[include mainsail.cfg]

[include 3dwork-klipper/macros/macros_*.cfg]

[include 3dwork-klipper/shell-macros.cfg]

[include macros.cfg]

#[include input_shaper.cfg]

[input_shaper]

[exclude_object]

[respond]

[display_status]

[pause_resume]

[idle_timeout]
timeout: 86400  # 24 horas

[force_move]
enable_force_move: true

[gcode_arcs]
resolution: 1.0

[virtual_sdcard]
path: ~/printer_data/gcodes




[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f401xc_artillery-ruby-12-if00
restart_method: command


[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 2000
max_z_velocity: 12
max_z_accel: 100
square_corner_velocity: 5
minimum_cruise_ratio: 0.5


[led LED_Light]
white_pin: PC2
initial_white: 0.0


[neopixel hotend_neopixel]
pin: PD2
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0


[stepper_x]
step_pin: PA8
dir_pin: PC9
enable_pin: !PA15
microsteps: 16
rotation_distance: 40
endstop_pin: !PB9
position_endstop: -2
position_min: -2
position_max: 300
homing_speed: 80


[stepper_y]
step_pin: PC7
dir_pin: !PC6
enable_pin: !PC8
microsteps: 16
rotation_distance: 40
endstop_pin: !PB8
position_endstop: -2
position_min: -2
position_max: 300
homing_speed: 80


[stepper_z]
step_pin: PB10
dir_pin: !PA4
enable_pin: !PC4
rotation_distance: 8
microsteps: 16
position_min: -1
position_max: 400
endstop_pin: probe:z_virtual_endstop # Use Z- as endstop


[extruder]
max_extrude_only_distance: 120.0
step_pin: PC11
dir_pin: !PC10
enable_pin: !PC12
microsteps: 64
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA6
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PC5
min_extrude_temp: 180
min_temp: 0
max_temp: 300
rotation_distance: 18.400
pressure_advance: 0.025
pressure_advance_smooth_time: 0.020


[heater_bed]
heater_pin: PA7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
max_temp: 100
min_temp: 0


[heater_fan hotend_fan]
pin: PB1
heater: extruder
heater_temp: 50.0


[fan]
pin: PB0


[controller_fan drivers_fan]
pin: PA5
max_power: 1.0
fan_speed: 1.0
kick_start_time: 0.5
off_below: 0.19
stepper: stepper_x, stepper_y, stepper_z, extruder
heater: extruder, heater_bed
idle_timeout: 90


[temperature_sensor Artillery_MCU]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 65


[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 75


[filament_switch_sensor filament_sensor]
pause_on_runout: true
runout_gcode: PAUSE 
switch_pin: PC1


[probe]
pin: PC14
x_offset:45.2
y_offset:11.6
speed:5
lift_speed:10


[safe_z_home]
#home_xy_position: 110, 145
home_xy_position: 105, 139
speed: 150
z_hop: 5
z_hop_speed: 10


[bed_mesh]
speed: 80
horizontal_move_z: 5
mesh_min: 46,15
mesh_max: 300,300
probe_count: 7,7
fade_start: 1
fade_end: 5
algorithm: bicubic
adaptive_margin: 5


[screws_tilt_adjust]
#screw1: 111, 102
#screw1_name: centro referencia
#screw2: 102, 178
#screw2_name: centro atras
screw1: 7, 42
screw1_name: delante izquierda
screw2: 206, 42
screw2_name: delante derecha
#screw4: 225, 142
#screw4_name: centro derecha
screw3: 206, 242
screw3_name: atras derecha
screw4: 7, 242
screw4_name: atras izquierda
#screw7: -2, 145
#screw7_name: centro izquierda
horizontal_move_z: 8
speed: 100
screw_thread: CW-M4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.289
#*# pid_ki = 0.908
#*# pid_kd = 1439.460
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 42.864
#*# pid_ki = 10.991
#*# pid_kd = 41.793
#*#
#*# [probe]
#*# z_offset = 0.965
#*#
#*# [input_shaper]
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 45.4
#*# shaper_type_x = mzv
#*# shaper_freq_x = 61.0
#*#
#*# [bed_mesh malla]
#*# version = 1
#*# points =
#*# 	  -0.102500, -0.037500, -0.060000, -0.065000, -0.062500, -0.080000, -0.077500
#*# 	  -0.030000, 0.037500, 0.022500, -0.007500, -0.005000, -0.025000, -0.017500
#*# 	  0.012500, 0.025000, 0.005000, -0.020000, -0.005000, -0.002500, 0.005000
#*# 	  0.002500, 0.032500, 0.000000, -0.010000, 0.010000, -0.007500, 0.012500
#*# 	  0.015000, -0.005000, -0.035000, -0.045000, -0.035000, -0.002500, 0.012500
#*# 	  -0.027500, 0.000000, -0.030000, -0.047500, -0.057500, -0.037500, 0.010000
#*# 	  0.005000, -0.012500, -0.032500, -0.052500, -0.035000, 0.007500, 0.020000
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 46.0
#*# max_x = 299.98
#*# min_y = 15.0
#*# max_y = 300.0
